@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.containerpro {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.prods {
  position: relative;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.actions h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.headprod {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  padding-right: 50rem;
  gap: 5px;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 10px;
}

.input-group i {
  color: #868686;
}

.search-bar {
  border: none;
  outline: none;
  font-size: 14px;
}

.dropdown {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 310px;
  font-size: 14px;
  background-color: rgba(211, 209, 209, 0.247);
}

.dropdown option[disabled] {
  color: #868686;
  font-style: italic;
}

.actions.hidden {
  display: none;
}

.btn1 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.btn1 ion-icon {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  gap: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn.filter {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn.add-product {
  background-color: #2c7bfe;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.add-product ion-icon {
  font-weight: 900;
  transform: scaleX(1.4) scaleY(1.2);
}

.btn.filter:hover {
  background-color: #e2edff;
}

.btn.add-product:hover {
  background-color: #2775f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
}

.btn.edit {
  background-color: #2c7bfe;
  color: white;
  font-size: 12px;
}

.btn.edit ion-icon {
  transform: scaleX(1.4) scaleY(1.2);
  margin-left: 5px;
}

.btn.edit:hover {
  background-color: #266fe6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  text-align: left;
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
}

.product-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.product-table td {
  font-size: 15px;
}

.product-table tbody tr:hover {
  background-color: #e2edff;
}

.product-table td:nth-child(2) {
  text-align: center;
  padding-right: 55px;
}

.product-table td:nth-child(3) {
  text-align: center;
  padding-right: 55px;
}
.product-table td:nth-child(4) {
    text-align: left;
    padding-left: 25px;
}

.product-table td:last-child {
    text-align: left;
    
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.status.active {
  background-color: #e0f7e9;
  color: #27aa06;
}

.status.inactive {
  background-color: #fbeaea;
  color: #f50000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 10px 0;
  font-size: 16px;
}

.page-icon {
  font-size: 15px;
  color: var(--black);
  cursor: pointer;
  margin: 0 8px;
  transition: color 0.2s;
}

.page-icon:hover {
  color: #545458;
}

.page-number {
  margin: 0 5px;
  padding: 0px 3px;
  color: #c0c0c0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.page-number:hover {
  font-size: 17px;
  color: #5f5f5f;
  font-weight: bold;
}

.page-number.active {
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}

.range-slider {
  display: flex;
  align-items: center;
  
}

.range-slider input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider div {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  display: flex;
  justify-content: end;
}
